services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: taskforge
      POSTGRES_PASSWORD: taskforge
      POSTGRES_DB: taskforge
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U taskforge -d taskforge"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
      HTTP_ADDR: :8080
      UI_DIR: /app/ui
      QUEUE_NAME: jobs:ready
    ports:
      - "8081:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  scheduler:
    build:
      context: .
      dockerfile: docker/scheduler.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
      QUEUE_NAME: jobs:ready
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
      WORKER_CONCURRENCY: "10"
      QUEUE_NAME: jobs:ready
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:v2.53.1
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - api

  grafana:
    image: grafana/grafana:11.1.4
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
      - ./docker/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

volumes:
  postgres-data:
