services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: taskforge
      POSTGRES_PASSWORD: taskforge
      POSTGRES_DB: taskforge
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
      HTTP_ADDR: :8080
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - redis

  scheduler:
    build:
      context: .
      dockerfile: docker/scheduler.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    environment:
      APP_ENV: local
      POSTGRES_DSN: postgres://taskforge:taskforge@postgres:5432/taskforge?sslmode=disable
      REDIS_ADDR: redis:6379
      WORKER_CONCURRENCY: "10"
    depends_on:
      - postgres
      - redis

  prometheus:
    image: prom/prometheus:v2.53.1
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - api

  grafana:
    image: grafana/grafana:11.1.4
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
      - ./docker/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

volumes:
  postgres-data:
